body {
   /* background-color: LightGray;*/
    font-family: 'Roboto', sans-serif;
}
/*div {
    border: 1px solid Chocolate;
}
*/
a {
	/* Typography Declarations */
	font-family: sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: #777777;
	font-size: 16px;
}

a:visited {
	/* Typography Declarations */
	color: #668866;
}

a:hover {
	/* Tyopography Declarations */
	color: #887733;
  	text-decoration: none;
}

.top-nav-section {
  background-color: white;
  position: fixed;
  width: 100%;
}

.top-nav-content {
  padding: 0;
  background-color: white;
  position: fixed;
  width: 100%;
}
.t-navigation {
	float:right;
	margin-right: 15em;
}
.t-navigation > li {
  display: inline-block;
  margin-right: 2.5em;
  font-size: .3em;
  vertical-align: middle;
}

.logo {
  float:none;
  z-index: 000022;
  vertical-align: baseline;
  padding-right: 28em;
}

.main-section {
  padding: 14em 0;
  background-image: url('../images/first-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

h1 {
	color: white;
	font-weight: 300;
	font-size: 280%;
	letter-spacing: 1.5px;
}

h2 {
	color: black;
	font-weight: 300;
	font-size: 280%;
}

h3 {
	color: black;
	font-weight: 300;
	font-size: 100%;
	margin-left: 1.4em;
}

h4{
	color: white;
	font-weight: 300;
	font-size: 140%;
}

h5{
	color: #888888;
	font-weight: 300;
	font-size: 90%;
	margin-left: 2em;

}

.top-footer {
	min-height: 8em;
	background-color: white;
	padding: 6em;
	text-align: center;
}

.three-icons > li {
  display: inline-flex;
  margin-right: 9em;
  text-align: center;
}

.social-icons > li {
  display: inline-flex;
  margin-right: .1em;
  text-align: center;
}

.three-icons-text > li {
  display: inline-flex;
  margin-right: 5em;
  text-align: center;
  font-size: 24px;
  color: #000000;
  padding-top: 1.5em;
  padding-bottom: 4em;
}

button {
	width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}
