body {
   /* background-color: LightGray;*/
    font-family: 'Roboto', sans-serif;
    margin:0;
    line-height: 1;
}

ul {
  margin:0;
  list-style: none;
}
/*div {
    border: 1px solid Chocolate;
}
*/
a {
	/* Typography Declarations */
	font-family: sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: #838994;
	font-size: 16px;
}

a:visited {
	/* Typography Declarations */
	color: #f15a29;
}

a:hover {
	/* Tyopography Declarations */
	color: #333333;
  	text-decoration: none;
}

.content {
  margin:0 auto;
}

.top-nav-section {
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.top-nav-content {
  padding: 15px;
  background-color: white;
  position: fixed;
  border-bottom: 1px solid #ddd;
  width: 100%;
}
.t-navigation {
	float:right;
	margin-right: 22em;
}
.t-navigation > li {
  color: #838994;
  display: inline-block;
  margin-right: 2em;
  font-size: .3em;
  vertical-align: middle;
}

.t-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.logo {
  float:none;
  z-index: 000022;
  vertical-align: baseline;
  padding-right: 36.5em;
}

.main-section {
  padding: 14em 0;
  background-image: url('../images/first-background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: auto;
}

h1 {
	color: white;
	font-weight: 300;
	font-size: 280%;
	letter-spacing: 1.5px;
}

h2 {
	color: black;
	font-weight: 300;
	font-size: 280%;
}

h3 {
	color: black;
	font-weight: 300;
	font-size: 100%;
	margin-left: 1.4em;
}

h4 {
	color: white;
	font-weight: 300;
	font-size: 140%;
}

h5 {
	color: #888888;
	font-weight: 300;
	font-size: 90%;
	margin-left: 2em;
  margin-top: 0;

}

.benefits {
    background-color: #fff;
    overflow: hidden;
    padding-bottom: 5rem;
}

.benefits .content {
    margin-top: 7.875rem;
    padding: none;
    color: #1d1e21;
    text-align: center;
    width: 60%;
}

.benefits .content .three-benefits > li {
  width: 33.333%;
  float: left;
}

.social {
    background-color: #fff;
    overflow: auto;
    padding-bottom: 5rem;
    text-align: center;
}

.benefits hr {
    border: 0;
    border-top: 1px solid #eaebec;
    margin: 1.313rem 0;
}

.social .facebook {
  color: #4c66a4;
  padding-top: 8px;
}

.social .twitter {
  color: #55acee;
  padding-top: 8px;
}

.social .instagram {
  color: #3f729b;
  padding-top: 8px;
}

.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #cccccc;
    text-align: center;
    box-sizing: border-box;
}

.three-icons-text > li {
  display: inline-flex;
  margin-right: 5em;
  text-align: center;
  font-size: 24px;
  color: #000000;
  padding-top: 1.5em;
  padding-bottom: 4em;
}

button {
	width: 9.688rem;
    background-color: #f15a29;
    border-color: #f15a29;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
}

button:hover {
    background-color: #d9400e;
    border-color: #cf3d0f;
    cursor: pointer;
}
