body {
    background-color: LightGray;
    font-family: 'Roboto', sans-serif;
}
div {
    border: 1px solid Chocolate;
}
a {
	/* Typography Declarations */
	font-family: sans-serif;
	font-weight: normal;
	text-decoration: none;
	color: #777777;
	font-size: 16px;
}

a:visited {
	/* Typography Declarations */
	color: #668866;
}

a:hover {
	/* Tyopography Declarations */
	color: #887733;
  	text-decoration: none;
}

.top-nav {
  padding: .5em 11em 1em 0;
  background-color: white;
}

.t-navigation > li {
  display: inline-block;
  margin-right: 3em;
  font-size: .3em;
}

.t-logo > li {
  display: inline-block;
  text-align: left;
  float:left;
  margin-bottom: 2pm;
}

.main-section {
  padding: 16em 0;
  background-image: url('../images/first-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.top-nav{
  text-align: right;
}
h1 {
	color: white;
	font-weight: 300;
}
h4{
	color: white;
	font-weight: 300;
}

